.pageEnvelope {
    background-color: #90be70;
    min-height: 100vh;
    padding: 40px 0;
}

.wrap{
    background-color: #fff;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #d4c8b5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 20px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.bodyBox {
    background: #fafafa;
    padding: 20px;
    min-height: 200px;
    line-height: 1.6;
    border-radius: 10px;
}

.btnWrap {
    margin-top: 30px;
    text-align: right;
}

.backBtn {
    background: #d4c8b5;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.backBtn:hover{
    background: #cbbba4;
}

.loading, .error {
    text-align: center;
    padding: 100px 0;
    font-size: 20px;
}

.deleteBtn {
  background: #ff7b7b;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.2s;
}

.deleteBtn:hover {
    background: #ff5c5c;
}

.deleteBtn:active {
    background: #e44f4f;
}

.editBtn {
    background: #6da7d6;
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.2s;
}

.editBtn:hover {
    background: #5d97c6;
}

.editBtn:active {
    background: #4e89b8;
}